// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

body{
  	margin-top: 20px;
}
.profile-main{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}
.profile-header{
  height: 200px;
  width: 100%;
}
.user-detail{
  position: relative;
  width: 75%;
  margin: 10 auto;
  height: 100%;
}
.user-image{
  float: left;
  position: relative;
  width: 130px;
  height: 130px;
}
.user-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 10px;
}

.user-image i{
  font-size: 12px;
  color: #404040;
}
.user-data{
  float: left;
  width: 120%;
  padding-left: 2px;
}
.user-data h2{ 
  margin-bottom: 0px;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
}
.user-data .post-label{
  font-size: 10px;
  border: 1px solid #C3CECB;
  padding: 0px 4px;
  border-radius: 4px;
  background: #F3F5F5;
  margin-right: 5px;
}
.user-data .post-label:hover{
  background-color: #F8EDE7;
  border-color: #F2D4BA;
}
.user-data p{
  font-size: 12px;
  color: #404040;
}
.user-rank{
  float: right;
  width: 46%;
  padding-left: 27px;
  margin-bottom: 20px;
}
.experience-main{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.experience-header{
  height: 200px;
  width: 100%;
  background-color: #EBF6FA;
  border-bottom: 2px solid #E2F3FB;
}
.experience-detail{
  position: relative;
  width: 120%;
  margin: 0 auto;
  height: 100%;
}
.experience-image{
  float: left;
  position: relative;
  width: 60px;
  height: 60px;
}
.experience-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #C3CECB;
  margin-top: 2px;
  margin-left: 0px;
}

.experience-data{
  float: center;
  width: 60%;
  padding-left: 27px;
  margin-bottom: 5px;
}
.experience-data h2{ 
  margin-bottom: 0px;
  margin-top: 35px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 600;
}
.experience-data .post-label{
  font-size: 10px;
  border: 1px solid #C3CECB;
  padding: 0px 4px;
  border-radius: 4px;
  background: #F3F5F5;
  margin-right: 5px;
}
.experience-data .post-label:hover{
  background-color: #F8EDE7;
  border-color: #F2D4BA;
}
.experience-data p{
  font-size: 12px;
  color: #404040;
}

.education-main{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.education-header{
  height: 200px;
  width: 100%;
  background-color: #EBF6FA;
  border-bottom: 2px solid #E2F3FB;
}
.education-detail{
  position: relative;
  width: 120%;
  margin: 0 auto;
  height: 100%;
}
.education-image{
  float: left;
  position: relative;
  width: 60px;
  height: 60px;
}
.education-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #C3CECB;
  margin-top: 5px;
  margin-left: 0px;
}

.education-data{
  float: center;
  width: 76%;
  padding-left: 27px;
  margin-bottom: 5px;
}
.education-data h2{ 
  margin-bottom: 0px;
  margin-top: 35px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 600;
}
.education-data .post-label{
  font-size: 10px;
  border: 1px solid #C3CECB;
  padding: 0px 4px;
  border-radius: 4px;
  background: #F3F5F5;
  margin-right: 5px;
}
.education-data .post-label:hover{
  background-color: #F8EDE7;
  border-color: #F2D4BA;
}
.education-data p{
  font-size: 12px;
  color: #404040;
}